# **輸出與字串**

**基本輸出**

In [ ]:
# 字串格式化
name = "Alice"
age = 20
# 基本輸出
print("Hello, World!")
print("姓名:", name, "年齡:", age)

Hello, World!
姓名: Alice 年齡: 20
姓名: Alice 年齡: 20

**JavaScript 對照**

In [ ]:
let name = "Alice";
console.log("Hello, World!");
console.log("Hello, " + name);

**f-string**

In [ ]:
print("姓名:", name, "年齡:", age)

# 字串格式化
name = "Alice"
age = 20

# f-string
message = f"姓名: {name}, 年齡: {age}"

姓名: Alice 年齡: 20

**JavaScript 對照**

In [ ]:
let name = 'Alice';
let age = 20;
let message = `姓名: ${name}, 年齡: ${age}`;

SyntaxError: invalid syntax (ipython-input-42060542.py, line 1)

**format**

In [ ]:
print("姓名:", name, "年齡:", age)

# 字串格式化
name = "Alice"
age = 20

# format 方法
message = "姓名: {}, 年齡: {}".format(name, age)

# % 格式化
message = "姓名: %s, 年齡: %d" % (name, age)

姓名: Alice 年齡: 20

**JavaScript 對照**

In [ ]:
let name = "Alice";
let age = 20;
let message = "姓名: " + name + ", 年齡: " + age;

**字串方法**

In [ ]:
print(text)
print(upper_text)
print(lower_text)
print(length)
print(substring)
# 字串方法
text = "hello world"
upper_text = text.upper()        # "HELLO WORLD"
lower_text = text.lower()        # "hello world"
length = len(text)               # 11
substring = text[0:5]            # "hello"

hello world
HELLO WORLD
hello world
11
hello

**JavaScript 對照**

In [ ]:
let text = "hello world";
let upperText = text.toUpperCase();    // "HELLO WORLD"
let lowerText = text.toLowerCase();    // "hello world"
let length = text.length;              // 11
let substring = text.substring(0, 5);  // "hello"

# **變數宣告**

In [ ]:
# 基本變數宣告
name = "Alice"
age = 20
height = 165.5
is_student = True

# 多變數指派
x, y, z = 1, 2, 3

# 常數（慣例，非強制）
MAX_SIZE = 100
API_KEY = "abc123"

# 變數重新指派
count = 10
count = 20

**JavaScript 對照**

In [ ]:
// 基本變數宣告
let name = "Alice";
const age = 20;
let height = 165.5;
let isStudent = true;

// 多變數指派
let x = 1, y = 2, z = 3;

// 常數（強制不可變）
const MAX_SIZE = 100;
const API_KEY = "abc123";

// 變數重新指派
let count = 10;
count = 20;  // 可以重新指派
// age = 25;  // 錯誤：const 變數不可重新指派

# **資料類型**

In [ ]:
# 數字
integer_number = 42
float_number = 3.14
complex_number = 2 + 3j


print(integer_number)
print(float_number)
print(complex_number)


# 字串
single_quote = 'hello'
double_quote = "world"


# 布林值
is_true = True
is_false = False

# 列表
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
# 字典
person = {
    "name": "Alice",
    "age": 20,
    "city": "Taipei"
}

print(fruits)
print(numbers)
print(person)


# 元組（不可變有序序列）
coordinates = (10, 20)

# 集合（無序不重複）
unique_numbers = {1, 2, 3, 3, 2}

42
3.14
(2+3j)
['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
{'name': 'Alice', 'age': 20, 'city': 'Taipei'}

**JavaScript 對照**

In [ ]:
// 數字
let integerNumber = 42;
let floatNumber = 3.14;

// 字串
let singleQuote = 'hello';
let doubleQuote = "world";

// 布林值
let isTrue = true;
let isFalse = false;

// 陣列（可變有序序列）
let fruits = ["apple", "banana", "cherry"];
let numbers = [1, 2, 3, 4, 5];

// 物件（鍵值對）
let person = {
    name: "Alice",
    age: 20,
    city: "Taipei"
};

// 特殊值
let nullValue = null;
let undefinedValue = undefined;

# **布林值**


> 有數字、有文字、有資料 → True

> 沒有東西（0、空字串、空列表、None）→ False

In [ ]:
print(bool(True))         # True
print(bool(False))        # False

print(bool(0))            # False
print(bool(5))            # True
print(bool(-1))           # True

print(bool(""))           # False
print(bool("Hello"))      # True

print(bool([]))           # False
print(bool([1, 2, 3]))    # True

print(bool(None))         # False

True
False
False
True
True
False
True
False
True
False

In [ ]:
print(0 or 100)  # 0 是假 → 回傳右邊 100
print(5 or 10)   # 5 是真 → 回傳左邊 5

print(0 and 100) # 0 是假 → 回傳左邊 0
print(5 and 10)  # 5 是真 → 回傳右邊 10

print(not 0)     # 0 是假 → not 0 = True
print(not 5)     # 5 是真 → not 5 = False

100
5
0
10
True
False

In [ ]:
a = 0
b = 5
print(a or b)    # 0是假 → 回傳 b (5)
print(a and b)   # 0是假 → 回傳 a (0)
print(not a)     # not 0 → True

5
0
True